.test {
  margin-right: 10px;
  background: red;
}


/*
body {
  background-color: #ddd;
}

h3 {
  margin-top: 0;
}
/**/

.badge {
  background-color: #777;
}

.tabs-left {
  margin-top: 3rem;
}

.nav-tabs {
  float: left;
  border-bottom: 0;
}

.nav-tabs li {
  float: none;
  margin: 0;
}

.nav-tabs li a {
  margin-right: 0;
  border: 0;
  background-color: #333;
}

.nav-tabs li a:hover {
  background-color: #444;
}

.nav-tabs .glyphicon {
  color: #fff;
}

.nav-tabs .active .glyphicon {
  color: #333;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
}

.tab-content {
  margin-left: 45px;
}

.tab-content .tab-pane {
  display: none;
  background-color: #fff;
  padding: 1.6rem;
  overflow-y: auto;
}

.tab-content .active {
  display: block;
}

.list-group {
  width: 100%;
}

.list-group .list-group-item {
  height: 50px;
}

.list-group .list-group-item h4,
.list-group .list-group-item span {
  line-height: 11px;
}


/*==============*/

.imageWrapper {
  overflow: hidden;
  /*height: 200px;*/
  /*border: 2px solid red;*/
  border-radius: 5px;
  margin: 5px;
  position: relative;
}


/*
.imageDesctiption:hover {
  height: 30%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}*/


/**/
